.page-title {
    font-family: 'Roboto-Thin';
    text-align: left;
    font-weight: 100;
    font-size: 5em;
    color: #586e75;
    z-index: 1;
    margin: 10px 20px;
}

.return {
    position: fixed;
    top: 0;
    right: 0;
    padding: 5px;
}

.return img {
    height: 64px;
    width: 64px;
    border-radius: 5px;
}

.return:hover img {
    -webkit-box-shadow: 0 0 10px 3px #93a1a1;
}

div.content {
    position: absolute;
    top: 0;
    right: 0;
    width: 50vw;
    max-height: 100vh;
}

div.content p {
    font-family: Raleway;
    font-size: 25px;
    text-align: justify;
}

#profile {
    width: 50vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-image: url(../img/clearprof.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: pixelated;
    image-rendering: optimize-contrast;
}

div.flex-container {
    display: flex;
}

div.flex-box {
    flex-grow: 1;
    flex: 1;
}

@media (max-width:1240px) {
    * {
        overflow: auto;
    }

    div.content {
        display: block;
        position: static;
        overflow: visible;
        width: 100vw;
        padding: 20px;
    }

    #profile {
        position: static;
        width: 100vw;
        height: 100vw;
    }
}
