.page-title {
    font-family: 'Roboto-Thin';
    text-align: left;
    font-weight: 100;
    font-size: 5em;
    color: #586e75;
    z-index: 1;
    margin: 10px 20px;
}

.return {
    position: fixed;
    top: 0;
    right: 0;
    padding: 5px;
}

.return img {
    height: 64px;
    width: 64px;
    border-radius: 5px;
}

.return:hover img {
    -webkit-box-shadow: 0 0 10px 3px #93a1a1;
}
div.content {
    padding-left: 20px;
}

div.content p {
    font-family: Raleway;
    font-size: 20px;
}

@media (max-width:512px) {
    .page-title {
        font-size: 4em;
    }
}

@media (max-width:400px) {
    .page-title {
        font-size: 3em;
    }
}
