* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

#content {
	width: 500px;
	font-family: "Nunito";
	margin-left: 50px;
	font-size: 24px;
}

@keyframes fadeIn {
	0%   { opacity: 0; }
	100% { opacity: 1; }
}

#title {
	font-family: "Bungee";
	font-size: 80px;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: underline;
	color: inherit;
	cursor: pointer;
	-webkit-transition: color 250ms ease;
}

a:hover {
	color: rgb(255, 149, 78);
}

#spotify:hover { color: #1db954; }

#robots:hover { color: #1f419a; }

#insta:hover { color: #e1306c; }

#fb:hover { color: #3c5a99; }

#shake:hover { color: #b31b1b; }

#ds:hover { color: #7d3c98; }

#footer {
	margin-top: 40px;
	display: flex;
	justify-content: space-around;
}

#footer > a {
	border-radius: 5px;
	padding: 5px;
	-webkit-transition: color 250ms;
}

#footer > a:hover {
}
