* {
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

h1, h2, h3 {
	margin: 10px;
}

.container-fluid {
	padding-top: 70px;
	padding-bottom: 70px;
}

.navbar {
	width:100%;
	z-index: 999;
	margin:0;
	border-radius: 0;
	position:sticky;
	top:0;
}

#header {
	height: 100vh;
	background-image: url("../img/artsycar.JPG");
	-webkit-text-fill-color: azure;
	vertical-align: middle;
	background-position-y: 00%;
	background-position-x: 40%;
	background-attachment: fixed;
}

#header div {
	position: relative;
	width: fit-content;
	align-self: center;
	padding: 25px;
	margin: auto;
	border: 3px solid white;
	top: 40%;
	transform: translateY(-50%);
	background-color: rgba(255, 255, 255, .5);

	font-family: "Futura-Medium";
	text-transform: uppercase;
}

.text-center {
	text-align: center;
}

.text-pad {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 30px;
	padding-bottom: 40px;
}

.wide-img {
	height: 400px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#robot-img {
	background-image: url("../img/ctwat2017.jpg");
}

#robot-title {
	background-color: #1f419a;
	-webkit-text-fill-color: whitesmoke;
}

#robot-content {
	padding: 40px;
	height: 100%;
}

#robot-content div div {
	background: #ebebeb;
	border-radius: 10px;
	padding: 20px;
	text-align: justify;
	height:100%;
}

#cornell-img {
	background-image: url("../img/cornell_night.jpg");
}

#cornell {
	background-color: #b31b1b;
	color: #f7f7f7;
}

#volunteering {
	background-color: #598e4f;
	-webkit-text-fill-color: whitesmoke;
}

#volunteering div.row div {
	height: 300px;
	background-color: ;
}

#footer {
	padding: 0;
	background-color: #444;
	align-content: center;
	align-items: center;

}

#footer a {
	text-transform: lowercase;
	text-align: center;
	font-family: Raleway;
	text-decoration: none;
	color: white;
	transition: color 0.5s ease;
}

#footer a:hover {
	color: #aaaaaa;
}

#footer a#github:hover {
	color: #f5f5f5;
}

#footer a#instagram:hover {
	color: #dd2a7b;
}

#footer a#facebook:hover {
	color: #3b5998
}

#footer a#twitter:hover {
	color: #1da1f2;
}

#footer a#spotify:hover {
	color: #1db954;
}

#footer table {
	width: 100%;
}

#footer table,th,td {
	padding: 10px;
}
