* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#title {
    font-family: 'Futura-Medium';
    letter-spacing: 2px;
    text-align: center;
    font-weight: 100;
    font-size: 10em;
    z-index: 1;
    margin-top: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

body {
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
    background-color: black;
    text-decoration-color: white;
    color: white;
}

#body {
    width: 600px;
    margin: auto;
    padding: 5px;
    align-items: center;
}

h2,h3,h4 {
    font-family: 'Futura-Book';
}

h2 {
    font-size: 40px;
}

h3 {
    padding-left: 10px;
}

.subhead {
    font-style: italic;
    font-family: Arial;
    color: #a0a0a0;
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#sidebar {
    position: -webkit-sticky;
    position: sticky;
    float: right;
    top: 0;
    right: 20px;
    height: 700px;
    width: 200px;
    margin-right: 10px;
    top: 20px;
    margin: auto;
    text-align: center;
}

#sidebar img {
    width: 100%;
    border-radius: 50%;
}

button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}

#sidebar button {
    width:100%;
    height: 50px;
    margin-top: 5px;
    margin-bottom: 5px;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;

    cursor: pointer;

    border:none;
    background: black;
    border: 2px solid white;
    color: white;

    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
}

#sidebar button:hover {
    background-color: grey;
}

.linkbox img {
    padding: 10px;
    height: 256px;
    width: 256px;
    resize: both;
}

.linkbox h2 {
    font-family: Roboto-Thin;
    font-size: 35px;
    padding-bottom: 10px;
    text-decoration: none;
    text-transform: uppercase;
}

.linkbox a {
    text-decoration: none;
}

.linkbox:active {
    -webkit-box-shadow: 0 0 10px 5px #93a1a1;
}

.linkbox {
    text-align: center;
    border-radius: 10px;
    margin: 1px 10px;
    flex: 1;
}

.linkbox:hover img {
    /*
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: .5s;
    transition: .5s;
    */
}


#personal img {
    border-radius: 128px;
}

.grid {
  display: flex;
}

#themeswitcher {
    position: fixed;
    top: 0;
    right: 0;
    padding: 5px;

    height: 50px;
    width: 50px;
}

@media (max-width:1100px) {
    .grid {
        display: block;

        .linkbox {
            width: 100%;
            margin: 10px;
        }
    }
}

@media (max-width:900px) {
    #title {
        font-size: 9em;
    }
}

@media (max-width:800px) {
    #title {
        font-size: 8em;
    }
}

@media (max-width:700px) {
    #title {
        font-size: 7em;
    }
}

@media (max-width:625px) {
    #title {
        font-size: 6em;
    }
}

@media (max-width:540px) {
    #title {
        font-size: 5em;
    }
}

@media (max-width:460px) {
    #title {
        font-size: 4em;
    }
}
