body {
    background-color: #1f419a;
}

h1,h2 {
    text-align: center;
    font-family: "Arial Black", Gadget, sans-serif;
    color: white;
    font-size: 5em;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4em;
}

#splash {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
