.page-title {
    font-family: 'Roboto-Thin';
    text-align: left;
    font-weight: 100;
    font-size: 5em;
    color: #586e75;
    z-index: 1;
    margin: 10px 20px;
}

.return {
    position: fixed;
    top: 0;
    right: 0;
}

.return img {
    height: 128px;
    width: 128px;
}

div.content {
    padding-left: 20px;
}

div.content p {
    font-family: Raleway;
}
