@font-face {
    font-family: 'Roboto-Thin';
    src: url(font/Roboto-100.ttf);
}

@font-face {
    font-family: 'Roboto-Black';
    src: url(font/Roboto-Black.ttf);
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url(font/Roboto-Bold.ttf);
}

@font-face {
    font-family: 'Roboto';
    src: url(font/Roboto-Medium.ttf);
}

@font-face {
    font-family: 'Raleway';
    src: url(font/Raleway-Regular.ttf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#title {
    font-family: 'Roboto-Thin';
    text-align: center;
    font-weight: 100;
    font-size: 10em;
    color: #586e75;
    z-index: 1;
    margin-top: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

body {
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
    background-color: #fdf6e3;
}

.linkbox img {
    padding: 10px;
    height: 256px;
    width: 256px;
    resize: both;
}

.linkbox h2 {
    font-family: Roboto-Thin;
    font-size: 35px;
    color: #586e75;
    padding-bottom: 10px;
    text-decoration: none;
    text-transform: uppercase;
}

.linkbox a {
    text-decoration: none;
}

.linkbox:hover {
    background-color: #eee8d5;
}

.linkbox:active {
    -webkit-box-shadow: 0 0 10px 5px #93a1a1;
}

.linkbox {
    text-align: center;
    border-radius: 10px;
    margin: 1px 10px;
    flex: 1;
}

.linkbox:hover img {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: .5s;
    transition: .5s;
}

#personal img {
    border-radius: 128px;
}

.grid {
  display: flex;
}

@media (max-width:1100px) {
    .grid {
        display: block;

        .linkbox {
            width: 100%;
            margin: 10px;
        }
    }
}

@media (max-width:900px) {
    #title {
        font-size: 9em;
    }
}

@media (max-width:800px) {
    #title {
        font-size: 8em;
    }
}

@media (max-width:700px) {
    #title {
        font-size: 7em;
    }
}

@media (max-width:625px) {
    #title {
        font-size: 6em;
    }
}

@media (max-width:540px) {
    #title {
        font-size: 5em;
    }
}

@media (max-width:460px) {
    #title {
        font-size: 4em;
    }
}
