@font-face {
    font-family: 'Roboto-Thin';
    src: url(font/Roboto-100.ttf);
}

@font-face {
    font-family: 'Roboto-Black';
    src: url(font/Roboto-Black.ttf);
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url(font/Roboto-Bold.ttf);
}

@font-face {
    font-family: 'Roboto';
    src: url(font/Roboto-Medium.ttf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#title {
    font-family: 'Roboto-Thin';
    text-align: center;
    font-weight: 100;
    font-size: 10em;
    color: #586e75;
    z-index: 1;
    margin-top: 20px;
    margin-bottom: 20px;
}

body {
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
    background-color: #fdf6e3;
}

.linkbox > img {
    padding: 10px;
    height: 256px;
    width: 256px;
}

.linkbox > h2 {
    font-family: Roboto-Thin;
    color: #586e75;
    padding-bottom: 10px;
}

.linkbox:hover {
    background-color: #eee8d5;
    /*border: 1px solid #839496;*/
}

.linkbox:active {
    background-color: #93a1a1;
}

.linkbox {
    text-align: center;
    border-radius: 10px;
    margin: 1px 10px;
    flex: 1;
}

.grid {
  display: flex;
}

@media (max-width:900px) {
    .grid {
        display: block;

        .linkbox {
            width: 100%;
            margin: 0 0 10px 0;
        }
    }
}
